{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Create S3 Bucket</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>AWS S3 Management</h1>
    <div>
        <nav class="topnav">
            <a href="{% url 'create_bucket'%}">Create Bucket</a>
            <a href="{% url 'list_buckets'%}">List Buckets</a>
            <a href="{% url 'upload_file'%}">Upload Files</a>
            <a href="{% url 'list_files' %}">List Files</a>
            <a href="{% url 'delete_files'%}">Delete File</a>
            <a href="{% url 'copy_files'%}">Copy Files</a>
            <a href="{% url 'move_files'%}">Move Files</a>
            <a href="{% url 'create_folder'%}">Create Folder</a>
        </nav>
    </div>
    {% include 'messages.html' %}
    <h1>Create S3 Bucket</h1>
    <form method="post">
        {% csrf_token %}
        <label for="bucket_name">Bucket Name:</label>
        <input type="text" name="bucket_name" required>
        <br><br>
        <label for="region">Region:</label>
        <select name="region" required>
            {% for region in regions %}
            <option value="{{region}}">{{region}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="action" value="create_bucket">Create Bucket</button>
    </form>
    <br>
</body>
</html>